/**
 * Calculates top and bottom padding for labels.
 *
 * We can't use vertical-align since display: tabel-cell; doesn't work on label
 * elements, and we want the label to occupy the entire cell. We could set the
 * line height the same way we set the cell aspect ratio, but because our text
 * is all uppercase and digits, there are no descenders and the spacing is a
 * bit off.
 *
 * Using padding, we can calculate this in an infinitely tweakable way that can
 * be varied for different breakpoints.
 *
 * @param $font-size
 *   Size of the font in some appropriate unit.
 * @param $line-height
 *   Line height; should either be unitless, or use $font-size's units.
 * @param $vertical-midpoint
 *   PERCENTAGE value for where the label's inline text box should be positioned
 *   in the table-cell.
 */
@mixin label-padding($font-size, $line-height, $vertical-midpoint) {
  $top-padding: $vertical-midpoint;
  $bottom-padding: 100% - $top-padding;
  $half-line-height: $font-size * $line-height / 2;

  padding: calc(#{$top-padding} - #{$half-line-height}) 0 calc(#{$bottom-padding} - #{$half-line-height});
}
