// Breakpoints.
$bp--xsmall: 380px;
$bp--small: 500px;
$bp--medium: 640px;
$bp--large: 768px;
$bp--xlarge: 1024px;
$bp--xxlarge: 1170px;
$bp--xxxlarge: 1440px;

// Font-sizes.
$fs--small: 18px;
$fs--medium: 1.3 * $fs--small; //36px;
$fs--xlarge: 1.3 * $fs--medium; //42px;
$lh--small: 1.5;
$lh--medium: $lh--small;
$lh--xlarge: $lh--small;

// Card widths and dimensions.
$cw--small: 100vmin;
$cw--medium: 80vmin;
$cbs--small: $fs--small / 2;
$cbs--medium: $fs--small / 4;

// Colours.
$c--main: #033;
$c--main-lighter: lighten($c--main, 20%);
$c--contrast: #fff;
$c--contrast-darker: darken($c--contrast, 10%);
$c--active: #c00;
$c--active-darker: darken($c--active, 20%);
