// Import html5boilerplate boilerplate.
@use 'normalize';
@use 'main';

// Import scss from node_modules directory.
@import 'breakpoint-sass/stylesheets/breakpoint';

// Import variables rom this directory.
@import 'variables';

// Import mixins from this directory.
@import 'mixins';

%visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  word-wrap: normal;
}

body {
  align-items: center;
  background: $c--contrast;
  display: flex;
  flex-direction: column;
  font-size: $fs--small;
  height: 100vh;
  justify-content: center;
  line-height: $lh--small;
  margin: 0;

  @include breakpoint($bp--medium) {
    font-size: $fs--medium;
  }

  @include breakpoint($bp--xlarge) {
    font-size: $fs--xlarge;
  }
}

.awp__title {
  color: $c--main;
  display: flex;
  font-size: $fs--small;
  font-weight: 700;
  justify-content: space-between;
  line-height: 1;
  margin: 0 $cbs--small;
  text-align: center;
  text-transform: uppercase;

  @include breakpoint($bp--medium) {
    margin: 0;
  }
}

.awp__title--bingo {
  .awp__title-letter {
    // Blink in some not-to-obnoxious way?
  }
}

.awp__title-letter {
  display: inline-block;
  font-size: 16vmin;
  height: 16vmin;
  width: 16vmin;
}

.awp__bingo {
  text-align: center;
}

.awp__bingo-card {
  border-collapse: separate;
  border-spacing: $cbs--small;
  height: $cw--small;
  width: $cw--small;

  @include breakpoint($bp--medium) {
    border-spacing: $cbs--medium;
    height: $cw--medium;
    width: $cw--medium;
  }
}

.awp__bingo-card-cell {
  background: $c--main;
  padding-top: calc((#{$cw--small} - 3em) / 5);
  position: relative;
  text-align: center;

  @include breakpoint($bp--medium) {
    padding-top: calc((#{$cw--medium} - 1.5em) / 5);
  }
}

.awp__bingo-card-cell-number {
  @include label-padding($fs--small, $lh--small, 49%);

  border: 3px solid $c--main;
  box-sizing: border-box;
  color: $c--contrast;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  height: 100%;
  left: 0;
  line-height: $lh--small;
  position: absolute;
  top: 0;
  vertical-align: middle;
  width: 100%;
  z-index: 10;

  @include breakpoint($bp--medium) {
    @include label-padding($fs--medium, $lh--medium, 49%);
  }

  @include breakpoint($bp--xlarge) {
    @include label-padding($fs--xlarge, $lh--xlarge, 49%);
  }
}

.awp__bingo-card-cell-number:hover,
.awp__bingo-card-cell-number:focus {
  background: $c--main-lighter;
}

.awp__bingo-card-cell-state:focus ~ .awp__bingo-card-cell-number {
  background: $c--main-lighter;
  box-shadow: 0 1px 5px 2px rgba($c--main-lighter, 0.5);
}

.awp__bingo-card-cell-state:checked ~ .awp__bingo-card-cell-number {
  background: $c--contrast-darker;
  color: $c--main;
}

.awp__bingo-card-cell-state:checked[data-row-bingo=true] ~ .awp__bingo-card-cell-number,
.awp__bingo-card-cell-state:checked[data-col-bingo=true] ~ .awp__bingo-card-cell-number,
.awp__bingo-card-cell-state:checked[data-dexter-bingo=true] ~ .awp__bingo-card-cell-number,
.awp__bingo-card-cell-state:checked[data-sinister-bingo=true] ~ .awp__bingo-card-cell-number {
  background-color: $c--contrast;
  border-color: $c--active;
}

.awp__bingo-card-cell-state:checked ~ .awp__bingo-card-cell-number::after {
  background: rgba($c--active, 0.5);
  border-radius: 50%;
  box-sizing: border-box;
  content: '';
  display: block;
  height: 2em;
  left: calc(50% - 1em);
  opacity: 0.625;
  position: absolute;
  top: calc(50% - 1em);
  width: 2em;
  z-index: 5;
}

.awp__bingo-card-cell-state {
  @extend %visually-hidden;
}

.awp__bingo-card-cell--free {
  cursor: default;
  pointer-events: none;
  text-indent: -999em;

  @include breakpoint($bp--medium) {
    text-indent: 0;
  }
}
